# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# IDE / OS metadata
.DS_Store
*.swp
.idea/
.vscode/

# Local configuration specific folders and files
COTS/

# Logs and checkpoints
runs/
*.tfevents*

# Misc
sync.sh
